dist/
.tox/
*.egg-info
scala/target/
scala/project/target
scala/project/project
scala/lib
*.zip
*.pyc
env*.sh
.python_history
py4j
.cache
htmlcov
.coverage
derby.log
test-results.xmlMANIFEST
py4jdbc/scala/project/project/
py4jdbc/scala/project/target/
py4jdbc/scala/target/
.eggs/
build/
\#*
MANIFEST*
.\#*